@using pageadmin.Models
@using PagedList.Mvc;
@model PagedList.PagedList<pageadmin.Models.Product>
@{
    ViewBag.Title = "Product";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Sản Phẩm</h2>
@using (Html.BeginForm("Product", "SanPham", FormMethod.Get))
{
    <p>
        Tìm kiếm sản phẩm: @Html.TextBox("search", ViewBag.CurrentFilter as string)
        <input type="submit" value="Tìm kiếm" />
    </p>

}
<table class="table">

    @foreach (var item in Model)
    {

        <div class="col-sm-6 col-md-4 col-lg-3" id="margin-card">
            <div class="card">
                <div style="background-color:purple">
                    @Html.DisplayFor(modelItem => item.Name)
                </div>
                <div>
                    <img style="width:200pxpx;height:200px;" src="@Url.Content("~/tailieu/" + item.ImageUrl)" />
                </div>
                <div style="background-color:purple">
                    @Html.DisplayFor(modelItem => item.Price)
                </div>
                <a href="/SPCart/AddToCart/@item.ProductId">
                    <img src="https://cdn-icons-png.flaticon.com/512/3081/3081840.png" style="width:50px;" />
                </a>

            </div>


        </div>

    }

</table>
Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)/@Model.PageCount;
<div class="MenuTrang">

    @Html.PagedListPager(Model, page => Url.Action("Product", new { page = page }))
</div>
<style>
    .MenuTrang li {
        display: inline;
        border-radius: 50px;
        background: #87CEEB;
        padding: 20px;
        width: 50px;
        height: 50px;
    }
</style>
<a href="@Url.Action("Index","Home")">Quay lại Trang Chủ</a>
